   

.mainTitle {
   font-family: 'Nabla', cursive;
  font-size: 50px;
    text-align: center;
     animation: fadeIn 5s;
    color: white;
    padding: 1ch;
  
}

.doyou {
    font-family: 'Source Code Pro', sans-serif;
    animation: waitTillFadeIn 6s;
    color: white;
    text-align: center;
}

.YesBTN {
    animation: waitTillFadeIn 9s;
     font-family: 'Source Code Pro', sans-serif;
    background: black;
    color: white;
}

.NoBTN {
    animation: waitTillFadeIn 11s;
    font-family: 'Source Code Pro', sans-serif;
    background: black;
    color: white;
}

body {
    background: black;
    width: 100%;
    height: 100%;
    max-width: 5000px;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes wait {
    0% { opacity 0;}
    100% {}
}

@keyframes waitTillFadeIn{
      0% { opacity: 0; }
    50% { opacity: 0;}
  100% { opacity: 1; }
}